@font-face {
  font-family: Nexa;
  src: url("../fonts/Nexa.otf") format("opentype");
}

body {
  color: #ececec;
  font-family: Nexa, serif;
}


.title {
  font-family: Retrofuturism, serif;
  color: #ffd65a;
  font-size: 2.2rem;
  padding-right: 19rem;
}

.subtitle {
  padding-left: 5rem;
}

menu {
  margin: 0 3rem 10rem 3rem;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 1.2rem;
}

.with-divider:before {
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, rgba(180,160,30,0) 0%, rgb(180, 160, 33) 50%, rgba(180,160,30,0) 100%);
  content: "";
  margin: 2rem auto 1rem auto;
}

menu li .menuitem {
  color: white;
  transition: 0.3s;
  padding: 0 1rem;
}

menu li:nth-child(n+2) .menuitem {
  border-left: 1px solid rgb(165, 132, 27);
}


menu li:hover .menuitem {
  text-decoration: none;
  color: #eb9f27;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1, h2 {
  text-align: center;
}

h2:not(#form_title) {
  padding-left: 6rem;
}

h3 {
  margin-top: 5rem;
  margin-left: 3rem;
}

.background {
  background-image: url(https://unsplash.com/photos/eBwGgqSt1QA/download?force=true&w=1920);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vw;
  background-color: rgba(31, 31, 35, 0.9);
  z-index: -1;
}


.landing {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: 4rem;
}


.store {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90vw;
  margin: 0 5vw 10rem 5vw;
}

.item {
  margin: 2rem;
  border: #986f20 2px solid;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.item:hover {
  transform: scale(1.1);
  border-color: #e7a92b;
}

.item:hover .buytab {
  color: #e7a92b;
}

.item img {
  width: 10rem;
  height: 10rem;

}

.item .buytab {
  color: #d5b24c;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  font-weight: 900;
  background-color: rgba(31, 29, 28, 0.62);
  transition: 0.3s;
}

.contact-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.contact-form .form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 2px solid #d6a92e;
  margin: 3rem 10vw 7rem 10vw;
  max-width: max-content;
  padding: 2rem;
  border-radius: 15px;
}

.contact-form form .field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: .5rem;
}

.field label {
  font-weight: 900;
  font-size: 1.2rem;
  vertical-align: center;
  margin: 0;
}

.field input,textarea {
  width: 20rem;
  margin-left: 1rem;
  background-image:none;
  background-color: rgb(64, 64, 64);
  border-radius: 5px;
  border: 2px solid #a1a1a1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ececec;
  padding: 0.3rem;
  font-family: sans-serif;
}

button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid #a0a0a0;
  background-color: rgb(64, 64, 64);
  color: #ececec;
  width: 10rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.3s;
  margin-top: 2rem;
}

button:hover {
  background-color: rgb(60, 60, 60);
  color: #ededed;
  border-color: #dedede;
}

footer {
  margin-top: 20vh;
  font-family: sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}